body {
    height:   100%;
    overflow: scroll;
}

.container {
    float: left;
}

.report-title {
    font-size: x-large;
    font-family: sans-serif;
}

.amounts {
    cursor: pointer !important;
}

.close-modal {
    float: right !important;
    margin-left: auto !important;
}

.modal-content {
    padding: 0 !important;
}

.ui.vertical.menu .item>.menu {
    font-size: 18px !important;
}

.ui.vertical.menu .item>.header:not(.ui) {
    font-size: 20px !important;
}

.download {
    float: left;
    margin-right: 5px;
    border-radius: 5px;
    text-align: center;
    background-color: #3490dc;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    display: inline-block;
    width: 15%;
    padding: 8px 0;
}


.login-logo, .register-logo {
    font-size:     35px;
    text-align:    center;
    margin-bottom: 25px;
    font-weight:   300
}

.login-logo a, .register-logo a {
    color: #444444
}

.login-page, .register-page {
    background: #e9ecef
}

.login-box, .register-box {
    width:  360px;
    margin: 7% auto
}

@media (max-width: 576px) {
    .login-box, .register-box {
        width:      90%;
        margin-top: 20px
    }
}

.login-box-body, .register-box-body {
    background: #ffffff;
    padding:    20px;
    border-top: 0;
    color:      #666666
}

.login-box-body .form-control-feedback, .register-box-body .form-control-feedback {
    color: #777777
}

.login-box-msg, .register-box-msg {
    margin:     0;
    text-align: center;
    padding:    0 20px 20px 20px
}

.login-card-body, .register-card-body {
    color: #666666
}


.info-box {
    display: block;
    min-height: 90px;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 2px;
    margin-bottom: 15px;
}
.bg-aqua, .callout.callout-info, .alert-info, .label-info, .modal-info .modal-body {
    background-color: #00c0ef !important;
}

.bg-green .callout.callout-info, .alert-info, .label-info, .modal-info .modal-body {
    background-color: #00a65a !important;
}
.info-box-icon {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    height: 90px;
    width: 90px;
    text-align: center;
    font-size: 45px;
    line-height: 90px;
    background: rgba(0,0,0,0.2);
}

.info-box-content {
    padding: 5px 10px;
    margin-left: 90px;
}

.info-box-text {
    text-transform: uppercase;
}

.info-box-number {
    display: block;
    font-weight: bold;
    font-size: 18px;
}

.logo-link {
    text-decoration: none;
    color: white;
    padding-right: 10px;
}
.logo-link:hover {
    text-decoration: none;
    color: black;
}

