body {
    height:   100%;
    overflow: scroll;
}

.container {
    float: left;
}

.report-title {
    font-size: x-large;
    font-family: sans-serif;
}

.amounts {
    cursor: pointer !important;
}

.close-modal {
    float: right !important;
    margin-left: auto !important;
}

.modal-content {
    padding: 0 !important;
}

.ui.vertical.menu .item>.menu {
    font-size: 18px !important;
}

.ui.vertical.menu .item>.header:not(.ui) {
    font-size: 20px !important;
}

.download {
    float: left;
    margin-right: 5px;
    border-radius: 5px;
    text-align: center;
    background-color: #3490dc;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    display: inline-block;
    width: 15%;
    padding: 8px 0;
}


.login-logo, .register-logo {
    font-size:     35px;
    text-align:    center;
    margin-bottom: 25px;
    font-weight:   300
}

.login-logo a, .register-logo a {
    color: #444444
}

.login-page, .register-page {
    background: #e9ecef
}

.login-box, .register-box {
    width:  360px;
    margin: 7% auto
}

@media (max-width: 576px) {
    .login-box, .register-box {
        width:      90%;
        margin-top: 20px
    }
}

.login-box-body, .register-box-body {
    background: #ffffff;
    padding:    20px;
    border-top: 0;
    color:      #666666
}

.login-box-body .form-control-feedback, .register-box-body .form-control-feedback {
    color: #777777
}

.login-box-msg, .register-box-msg {
    margin:     0;
    text-align: center;
    padding:    0 20px 20px 20px
}

.login-card-body, .register-card-body {
    color: #666666
}
